<!doctype html>
<html ng-app="Options" ng-csp>

<head>
    <title>Website Shortcuts Extension Options</title>

    <script src="../scripts/third_party/jquery-3.1.0.js"></script>

    <script src="../scripts/third_party/angular.js"></script>
    <script src="../scripts/third_party/angular-animate.js"></script>
    <script src="../scripts/third_party/angular-sanitize.js"></script>

    <script src="../scripts/third_party/ui-bootstrap-tpls-2.1.3.js"></script>

    <script src="../scripts/options.js"></script>

    <link rel="stylesheet" href="../styles/third_party/bootstrap.css">
    <link rel="stylesheet" href="../styles/options.css">

    <!-- Debug -->
    <script src="../utils/scripts/configs.js"></script>
</head>

<body ng-cloak>
    <div class="container">
        <div ng-controller="OptionsController">
            <div class="options-header">
                Website Shortcuts Options
            </div>
            <div class="vertical-section configs-list-section">
                <div class="section-title">
                    Shortcuts
                </div>
                <div class="configs-list">
                    <uib-accordion close-others="false">
                        <div ng-repeat="config in configsList.configs" uib-accordion-group class="panel-default" is-open="config.isExpanded" ng-click="toggleExpanded(config)">
                            <uib-accordion-heading>
                                {{config.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': config.isExpanded, 'glyphicon-chevron-right': !config.isExpanded}"></i>
                            </uib-accordion-heading>
                            <div class="shortcuts-list-item" ng-repeat="shortcut in config.shortcuts" ng-click="selectShortcut(shortcut); $event.stopPropagation();">
                                {{shortcut.name}}
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="vertical-section editor-section">
                <div class="section-title">
                    View/Edit shortcut settings
                </div>
                <div class="editor">
                    {{editor.shortcut | json : 4}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>